<footer class="footer bg-dark text-white py-2">
  <div class="container text-md-left">
    <div class="row">

      <!-- About Us -->
      <div class="col-lg-4 col-md-6 mb-3">
        <h5 class="text-uppercase mb-2 font-weight-bold" style="font-size: 16px;">Hakkımızda</h5>
        <p style="font-size: 14px; line-height: 1.4;">
          Eğitimde yenilik, teknolojiyle buluştu! SmartEDU ile öğrenme deneyimini yeniden tasarlıyoruz.
        </p>
        <ul class="list-inline footer-social mt-2">
          <li class="list-inline-item"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-github"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
        </ul>
      </div>

      <!-- Information Links -->
      <div class="col-lg-4 col-md-6 mb-3">
        <h5 class="text-uppercase mb-2 font-weight-bold" style="font-size: 16px;">Bilgi Linkleri</h5>
        <ul class="list-unstyled" style="font-size: 14px; line-height: 1.4;">
          <li><a href="#" class="text-white">Ana Sayfa</a></li>
          <li><a href="#" class="text-white">Blog</a></li>
          <li><a href="#" class="text-white">Fiyatlandırma</a></li>
          <li><a href="#" class="text-white">Hakkımızda</a></li>
          <li><a href="#" class="text-white">İletişim</a></li>
        </ul>
      </div>

      <!-- Contact Details -->
      <div class="col-lg-4 col-md-12 mb-3">
        <h5 class="text-uppercase mb-2 font-weight-bold" style="font-size: 16px;">İletişim</h5>
        <ul class="list-unstyled" style="font-size: 14px; line-height: 1.4;">
          <li><i class="fa fa-envelope mr-2"></i> info@smartedu.com</li>
          <li><i class="fa fa-globe mr-2"></i> www.smartedu.com</li>
          <li><i class="fa fa-map-marker mr-2"></i> İstanbul, Türkiye</li>
          <li><i class="fa fa-phone mr-2"></i> +90 212 123 4567</li>
        </ul>
      </div>

    </div>
  </div>
</footer>


<!-- Copyright -->
<div class="copyrights bg-secondary text-white py-3 text-center">
    <p class="mb-0">Tüm Hakları Saklıdır. &copy; <%= currentYear || 2025 %> <a href="#" class="text-white font-weight-bold">SmartEDU</a> | Tasarım: <a href="https://html.design/" class="text-white">html design</a></p>
</div>

<!-- Scroll to Top Button -->
<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<!-- JS Files -->
<script src="/js/all.js"></script>
<script src="/js/custom.js"></script>
